/captures

*.iml
.idea
.gradle
gen
local.properties
buck-*
.buckd
out
build
snapshots
.DS_Store
_site
*.apk



# Vim swap files
*.swp
*.swo
*.swn

# Vim backup files
*.bak
*.tmp
*.orig

# Vim session files
Session.vim

# Vim undo files
*.un~